body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:715px;
}
#u436 {
  position:absolute;
  left:131px;
  top:58px;
  width:349px;
  height:715px;
}
#u437 {
  position:absolute;
  left:2px;
  top:350px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:548px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  position:absolute;
  left:151px;
  top:143px;
  width:308px;
  height:548px;
}
#u439 {
  position:absolute;
  left:2px;
  top:266px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u440 {
  position:absolute;
  left:192px;
  top:146px;
  width:51px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u442 {
  position:absolute;
  left:272px;
  top:146px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u444 {
  position:absolute;
  left:380px;
  top:146px;
  width:65px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u445 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.909803921568627);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u448 {
  position:absolute;
  left:156px;
  top:596px;
  width:294px;
  height:50px;
  line-height:20px;
}
#u449 {
  position:absolute;
  left:2px;
  top:17px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u450 {
  position:absolute;
  left:166px;
  top:612px;
  width:50px;
  height:50px;
}
#u451 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  position:absolute;
  left:151px;
  top:646px;
  width:308px;
  height:45px;
}
#u453 {
  position:absolute;
  left:2px;
  top:14px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:231px;
  top:625px;
  width:197px;
  height:32px;
}
#u455 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:45px;
  background:inherit;
  background-color:rgba(30, 89, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u456 {
  position:absolute;
  left:152px;
  top:646px;
  width:306px;
  height:45px;
  font-size:18px;
  color:#999999;
}
#u457 {
  position:absolute;
  left:2px;
  top:14px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u458 {
  position:absolute;
  left:169px;
  top:652px;
  width:23px;
  height:21px;
}
#u459 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u460 {
  position:absolute;
  left:227px;
  top:652px;
  width:27px;
  height:21px;
}
#u461 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u462 {
  position:absolute;
  left:169px;
  top:676px;
  width:35px;
  height:12px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u464 {
  position:absolute;
  left:229px;
  top:676px;
  width:35px;
  height:12px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u466 {
  position:absolute;
  left:292px;
  top:676px;
  width:35px;
  height:12px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u468 {
  position:absolute;
  left:355px;
  top:676px;
  width:35px;
  height:12px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u470 {
  position:absolute;
  left:418px;
  top:675px;
  width:35px;
  height:12px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u472 {
  position:absolute;
  left:242px;
  top:172px;
  width:9px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u473 {
  position:absolute;
  left:2px;
  top:1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u474 {
  position:absolute;
  left:261px;
  top:166px;
  width:87px;
  height:29px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u475 {
  position:absolute;
  left:2px;
  top:1px;
  width:83px;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u476 {
  position:absolute;
  left:267px;
  top:837px;
  width:73px;
  height:42px;
  font-size:36px;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:427px;
  top:147px;
  width:22px;
  height:10px;
  color:#FFFFFF;
}
#u479 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u480 {
  position:absolute;
  left:431px;
  top:150px;
  width:14px;
  height:4px;
  color:#FFFFFF;
}
#u481 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:449px;
  top:150px;
  width:3px;
  height:4px;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u484 {
  position:absolute;
  left:357px;
  top:650px;
  width:21px;
  height:23px;
}
#u485 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u486 {
  position:absolute;
  left:284px;
  top:639px;
  width:38px;
  height:38px;
}
#u487 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
}
#u488 {
  position:absolute;
  left:415px;
  top:660px;
  width:30px;
  height:6px;
}
#u489 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u490 {
  position:absolute;
  left:407px;
  top:282px;
  width:22px;
  height:4px;
}
#u491 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:-4px;
  top:-2px;
  width:302px;
  height:180px;
}
#u492 {
  position:absolute;
  left:158px;
  top:313px;
  width:294px;
  height:172px;
}
#u493 {
  position:absolute;
  left:2px;
  top:78px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u494 {
  position:absolute;
  left:173px;
  top:328px;
  width:50px;
  height:50px;
}
#u495 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u496 {
  position:absolute;
  left:231px;
  top:321px;
  width:111px;
  height:19px;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  position:absolute;
  left:184px;
  top:388px;
  width:29px;
  height:16px;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:109px;
}
#u500 {
  position:absolute;
  left:234px;
  top:346px;
  width:194px;
  height:109px;
}
#u501 {
  position:absolute;
  left:2px;
  top:46px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u502 {
  position:absolute;
  left:235px;
  top:462px;
  width:197px;
  height:16px;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u504 {
  position:absolute;
  left:408px;
  top:468px;
  width:22px;
  height:4px;
}
#u505 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:-4px;
  top:-2px;
  width:302px;
  height:98px;
}
#u506 {
  position:absolute;
  left:156px;
  top:496px;
  width:294px;
  height:90px;
}
#u507 {
  position:absolute;
  left:2px;
  top:37px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u508 {
  position:absolute;
  left:229px;
  top:502px;
  width:111px;
  height:19px;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u510 {
  position:absolute;
  left:176px;
  top:563px;
  width:29px;
  height:16px;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u512 {
  position:absolute;
  left:233px;
  top:525px;
  width:197px;
  height:40px;
  line-height:20px;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u514 {
  position:absolute;
  left:166px;
  top:508px;
  width:50px;
  height:50px;
}
#u515 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u516 {
  position:absolute;
  left:229px;
  top:602px;
  width:107px;
  height:19px;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u518 {
  position:absolute;
  left:358px;
  top:172px;
  width:9px;
  height:18px;
}
#u519 {
  position:absolute;
  left:2px;
  top:1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u520 {
  position:absolute;
  left:425px;
  top:320px;
  width:19px;
  height:19px;
}
#u521 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u522 {
  position:absolute;
  left:424px;
  top:602px;
  width:19px;
  height:19px;
}
#u523 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u524 {
  position:absolute;
  left:424px;
  top:502px;
  width:19px;
  height:19px;
}
#u525 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:79px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
}
#u527 {
  position:absolute;
  left:158px;
  top:207px;
  width:294px;
  height:79px;
}
#u528 {
  position:absolute;
  left:2px;
  top:32px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u529 {
  position:absolute;
  left:175px;
  top:226px;
  width:38px;
  height:38px;
}
#u530 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u531 {
  position:absolute;
  left:223px;
  top:236px;
  width:197px;
  height:16px;
  color:#FFFFFF;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u533 {
  position:absolute;
  left:223px;
  top:212px;
  width:93px;
  height:19px;
  font-family:'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u535 {
  position:absolute;
  left:283px;
  top:294px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
